*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Gotham Pro Reg;
  margin: 0;
  padding: 0;
}

.section {
  padding: 80px 0	80px;
}

.section__title {
  font-family: 'Gotham Pro Bold';
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 60px;
  margin-top: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.button {
  cursor: pointer;
  font-size: 12px;
  padding: 15px 25px;
  background-color: #ffcc00;
  outline: none;
  border: none;
}

.phone {
  text-decoration: none;
  color: #292929;
}

.container {
  width: 940px;
  margin: auto;
}

@media (max-width: 1024px) {
  .container {
    width: 940px;
    width: 90%;
  }
}

@font-face {
  font-family: 'Gotham Pro Reg';
  src: url("../fonts/GothamProReg/GothamPro.eot");
  src: url("../fonts/GothamProReg/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProReg/GothamPro.woff") format("woff"), url("../fonts/GothamProReg/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../fonts/GothamProMed/GothamPro-Medium.eot");
  src: url("../fonts/GothamProMed/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMed/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamProMed/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothamProBold/GothamPro-Bold.eot");
  src: url("../fonts/GothamProBold/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamProBold/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  padding: 33px 0 60px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__image {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.header-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-blocks__title {
  text-transform: uppercase;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 9px;
}

.header-blocks__subtitle {
  font-size: 11px;
  color: #969696;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
  margin-left: 31px;
  background-color: transparent;
  border: 2px solid #292929;
}

.header__phone {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}

.header__addres {
  font-size: 11px;
  color: #969696;
}

.header__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu {
  display: none;
}

.header-menu__btn {
  position: relative;
  background-color: #ffcc00;
  opacity: 0.8;
  width: 45px;
  height: 45px;
  border-radius: 10%;
}

.header-menu__active::before {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.header-menu__line {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #000000;
  margin-left: -10px;
}

.header-menu__line::before {
  display: block;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #000000;
  margin-left: -10px;
}

.header-menu__line::after {
  display: block;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #000000;
  margin-left: -10px;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0 15px;
  }
  .header__contacts {
    display: none;
  }
  .header-blocks__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .header-blocks__subtitle {
    display: none;
  }
  .header__button {
    font-size: 11px;
    margin-left: 0;
    padding: 10px 12px;
  }
  .header-menu {
    display: block;
  }
  .header-menu__btn {
    position: fixed;
    left: 0px;
    top: 75px;
  }
}

@media (max-width: 320px) {
  .header__image {
    margin-right: 5px;
    width: 35px;
    height: 35px;
  }
  .header-blocks__title {
    font-size: 16px;
  }
  .header-menu__btn {
    width: 30px;
    height: 30px;
  }
}

.content {
  background-image: url("../img/delivery/cargo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0	140px;
}

.content__title {
  color: #ffff;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 900;
  margin: 0;
  margin-bottom: 40px;
}

.content__subtitle {
  color: #ffff;
  max-width: 240px;
  font-size: 14px;
  margin: 0;
  margin-bottom: 65px;
}

.content__button {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
  padding: 18px 30px;
  margin-right: 20px;
  font-size: 12px;
}

.content__description {
  color: #ffff;
}

.content__link {
  color: #ffff;
}

.navbar {
  position: relative;
  bottom: 193px;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  background-color: #ffcc00;
  padding: 20px 40px;
}

.navbar-list__item {
  list-style-type: none;
}

.navbar-list__item:last-child {
  border: none;
}

.navbar-list__link {
  display: inline-block;
  color: #000000;
  font-size: 14px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar-list {
    display: none;
  }
  .content {
    padding: 70px 0 70px;
  }
  .content-block {
    text-align: center;
  }
  .content__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .content__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
    margin: auto;
  }
  .content__button {
    margin-top: 30px;
    margin-right: 0;
  }
  .content__description {
    display: none;
  }
}

@media (max-width: 320px) {
  .content {
    padding: 50px 0 40px;
  }
  .content-block {
    text-align: center;
  }
  .content__title {
    font-size: 20px;
  }
  .content__subtitle {
    display: inline-block;
    font-size: 11px;
    margin-bottom: 20px;
  }
  .content__button {
    margin-top: 10px;
    padding: 10px 15px;
    margin-right: 0;
    font-size: 11px;
  }
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods-block {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
  border: 2px solid #f6f6f6;
  padding: 38px 23px;
}

.goods-block__image {
  display: inline-block;
  height: 170px;
}

.goods-block__title {
  font-size: 15px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.goods-block__description {
  font-size: 13px;
}

.goods-block__price {
  display: block;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 900;
  font-size: 16px;
  margin-top: 29px;
  margin-bottom: 32px;
}

.goods-block__button {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
  padding: 15px 55px;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .goods-block {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin-bottom: 15px;
  }
  .goods-block:last-child {
    margin-bottom: 0;
  }
  .goods-block__child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .goods-block__description {
    max-width: 350px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .section__title {
    margin-bottom: 30px;
  }
  .goods {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .goods-block {
    padding: 15px;
    margin-bottom: 15px;
  }
  .goods-block__title {
    margin-bottom: 10px;
  }
  .goods-block__description {
    margin: auto;
    font-size: 13px;
    margin-bottom: 20px;
    max-width: 380px;
  }
  .goods-block__price {
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .section {
    padding: 30px 0 30px;
  }
  .section__title {
    margin-bottom: 15px;
    font-size: 15px;
  }
  .goods-block__image {
    height: 130px;
  }
  .goods-block__title {
    font-size: 13px;
  }
  .goods-block__description {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .goods-block__price {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .goods-block__button {
    font-size: 11px;
    padding: 10px 40px;
  }
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps {
  background-color: #f4f4f4;
}

.step-block {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 40px 44px;
}

.step-block:hover {
  -webkit-box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
          box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
  background-color: #ffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.step-block__img {
  display: inline-block;
  margin-bottom: 40px;
}

.step-block__title {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}

.step-block__text {
  font-size: 13px;
}

@media (max-width: 1024px) {
  .step-block {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin-bottom: 15px;
  }
  .step-block:last-child {
    margin-bottom: 0;
  }
  .step-block__child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .step-block__text {
    max-width: 350px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .step-block {
    padding: 30px;
  }
  .step-block__img {
    margin-bottom: 20px;
  }
  .step-block__title {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .step-block__text {
    font-size: 12px;
  }
}

.card-block {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  text-align: center;
  border: 2px solid #f6f6f6;
  padding: 20px;
}

.card-block__img {
  margin-bottom: 22px;
  position: relative;
}

.card-block__action {
  position: absolute;
  font-size: 10px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 11px;
  top: 10px;
  left: 10px;
}

.card-block__title {
  font-size: 13px;
  font-family: 'Gotham Pro Reg', sans-serif;
  font-weight: 300;
  margin-bottom: 24px;
}

.card-block__button {
  width: 100%;
  font-size: 12px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
}

.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.card-price__old {
  color: #969696;
  font-size: 10px;
}

.card-price__new {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
  color: #ff0000;
}

.card-price__news {
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
}

.cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pick {
  background-color: #f4f4f4;
}

.pick-block {
  text-align: center;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  border: 2px solid #ffff;
  padding: 50px 20px;
}

.pick-block__image {
  display: inline-block;
  height: 127px;
}

.pick-block__title {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
}

.pick-block__title:before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.3;
}

.pick-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact {
  background-color: #ffff;
  padding: 60px 78px 60px 61px;
}

.contact__title {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 900;
  margin-bottom: 53px;
  margin-top: 0;
}

.contacts {
  background-image: url(../img/contacts/card-fon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contacts__image {
  position: absolute;
  left: 600px;
  top: 227px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding-left: 0;
  list-style-type: none;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
}

.contacts-list__item:last-child {
  margin-bottom: 0;
}

.contacts-list__icon {
  margin-right: 8px;
}

.contacts-list__phone {
  display: block;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 14px;
}

.contacts-list__phone:last-child {
  margin-bottom: 0;
}

.contacts-list__addres {
  font-size: 14px;
}

.contacts-list__email {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.contacts-list__link {
  color: #000000;
}

.contacts-list__link:before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.3;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background-color: #292929;
  color: #ffff;
}

.footer-block__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

.footer-block__text {
  margin-left: 12px;
}

.footer-block__title {
  display: block;
  text-transform: uppercase;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 900;
  font-size: 19px;
}

.footer-block__description {
  font-size: 10px;
}

.footer-block__data {
  font-size: 12px;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.footer-contact__phone {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
}

.footer-contact__link {
  color: #ffff;
}

.footer-contact__relation {
  font-size: 11px;
  margin-bottom: 30px;
}

.footer-contact__button {
  border: 2px solid #ffff;
  background-color: transparent;
  padding: 15px 23px;
  color: #ffff;
  font-size: 12px;
  font-family: 'Gotham Pro Medium', sans-serif;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */